name: CI

on:
    push:
        branches: ["main"]
    pull_request:

jobs:
    test-and-build:
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Run tests
              run: |
                PYTHONPATH=. pytest -q
            
            - name: Log into Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}

            - name: Build and push docker image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: ${{secrets.DOCKERHUB_USERNAME}}/toxicity-api:latest